@use "../mixins" as *;
@use "../variables" as v;

.card {
  position: relative;

  @media (max-width: v.$mobile-width-only) {
    padding: 25px 20px;

    &::before {
      position: absolute;
      top: 0;
      right: 50%;
      transform: translateX(50%);
      content: "";
      width: 100%;
      height: 1px;
      background-color: var(--background-divider-secondary);
    }

    &::after {
      position: absolute;
      bottom: -1px;
      right: 50%;
      transform: translateX(50%);
      content: "";
      width: 100%;
      height: 1px;
      background-color: var(--background-divider-secondary);
    }
  }

  &--full-width {
    @media (min-width: v.$tablet-width) {
      grid-column: 1 / -1;
    }
  }
}

.card__photo {
  display: block;
  width: 100%;
  object-fit: cover;
  object-position: center;

  @media (max-width: v.$mobile-width-only) {
    margin: 0 auto 15px;
    height: 280px;
    max-width: 360px;
  }
}

.card__full-photo-link:hover .card__photo {
  opacity: 0.8;
}

.card__full-photo-link:focus .card__photo {
  outline: none;
  box-shadow: 0 0 0 5px var(--basic-primary);
}

.card__full-photo-link:active .card__photo {
  opacity: 0.5;
}

.card__title {
  @include text-m-bold;
  margin: 0;

  @media (min-width: v.$desktop-width) {
    color: var(--text-inverted);
  }
}

.card__info {
  @include text-m-normal(var(--text-secondary), none);
  margin: 0;

  @media (min-width: v.$desktop-width) {
    color: var(--text-inverted);
  }
}

.card__info-term {
  display: inline;
}

.card__info-description {
  display: inline;
  margin-left: 5px;
}

.card__caption {
  @media (min-width: v.$tablet-width) {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 22px 20px 15px;
    background-color: var(--background-tertiary);
  }

  @media (min-width: v.$desktop-width) {
    position: absolute;
    bottom: 0;
    width: 100%;
    background-color: var(--background-semi-transparent);
  }
}

.card__wrapper {
  @media (max-width: v.$mobile-width-only) {
    margin-bottom: 11px;
  }

  @media (min-width: v.$tablet-width) {
    margin-right: 20px;
  }
}

.card__likes-counter {
  align-self: center;
}
