@use "../mixins" as *;
@use "../variables" as v;

.fieldset {
  position: relative;
}

@media (max-width: v.$mobile-width-only) {
  .fieldset {
    padding-top: 24px;
    padding-bottom: 24px;

    &--text-inputs {
      padding-bottom: 36px;
    }

    &::before {
      position: absolute;
      top: 0;
      right: 50%;
      transform: translateX(50%);
      content: "";
      width: 115%;
      height: 1px;
      background-color: var(--background-divider-secondary);
    }
  }
}

.fieldset__title {
  @media (max-width: v.$mobile-width-only) {
    margin-bottom: 20px;
  }

  @media (min-width: v.$tablet-width) {
    @include text-xl-bold;
    margin-bottom: 28px;

    &--column {
      max-width: 300px;
      margin-left: auto;
      margin-right: auto;
    }

    &--landmarks {
      margin-bottom: 26px;
      margin-top: 5px;
    }
  }
}

.fieldset__title--decorated {
  @media (min-width: v.$tablet-width) {
    position: relative;
    display: block;
    z-index: 1;
    width: 401px;
    margin-left: auto;
    margin-right: auto;
    background-color: var(--basic-secondary);
  }
}

.fieldset__line-container {
  @media (min-width: v.$tablet-width) {
    position: relative;

    &::after {
      position: absolute;
      left: 0;
      top: 50%;
      transform: translateY(50%);
      content: "";
      width: 100%;
      height: 1px;
      background-color: var(--background-divider-tertiary);
    }
  }
}

.fieldset__list {
  @include list-style-reset;
  display: grid;
  row-gap: 16px;

  &--name {
    @media (min-width: v.$tablet-width) {
      padding-right: 43px;
    }

    @media (min-width: v.$desktop-width) {
      padding-right: 63px;
    }
  }

  &--contacts {
    @media (min-width: v.$tablet-width) {
      padding-left: 44px;
    }

    @media (min-width: v.$desktop-width) {
      padding-left: 64px;
    }
  }

  &--radio {
    @media (min-width: v.$tablet-width) {
      grid-template-columns: 1fr 1fr;
      padding-left: 36px;
      padding-right: 36px;
      column-gap: 16px;
    }

    @media (min-width: v.$desktop-width) {
      grid-template-columns: repeat(3, 1fr);
      padding: 20px 11px 11px 53px;
      column-gap: 28px;
    }
  }

  &--checkbox {
    @media (min-width: v.$tablet-width) {
      grid-template-columns: 1fr 1fr;
      padding-left: 84px;
      padding-right: 84px;
      column-gap: 32px;
    }

    @media (min-width: v.$desktop-width) {
      grid-template-columns: 216px 214px 197px 218px;
      padding: 34px 10px 32px 44px;
      column-gap: 20px;
    }
  }
}

.fieldset__textarea {
  @media (max-width: v.$mobile-width-only) {
    margin-bottom: 32px;
  }

  @media (min-width: v.$tablet-width) {
    margin-bottom: 6px;
  }

  @media (min-width: v.$desktop-width) {
    width: 80%;
    margin: 0 auto;
  }
}
