@use "../variables" as v;

.main-footer {
  display: grid;
  gap: 32px;
  place-items: center;

  @media (max-width: v.$mobile-width-only) {
    padding: 30px 18px 20px;
  }

  @media (min-width: v.$tablet-width) {
    grid-template-columns: repeat(3, 1fr);
    padding: 33px 60px;
  }

  @media (min-width: v.$desktop-width) {
    padding: 33px 120px;
  }
}

.main-footer__link-hashtag {
  @media (min-width: v.$tablet-width) {
    justify-self: start;
  }
}

.main-footer__copyright {
  @media (min-width: v.$tablet-width) {
    justify-self: end;
  }
}
