@use "../variables" as v;
@use "../mixins" as *;

.profit-extra__title {
  @media (max-width: v.$mobile-width-only) {
    margin-bottom: 16px;
  }

  @media (min-width: v.$tablet-width) {
    @include text-xl-bold;
    margin-bottom: 24px;
  }
}

.profit-extra {
  position: relative;

  &--accommodation::before {
    background-image: url("../img/icons/house.svg");
  }

  &--food::before {
    background-image: url("../img/icons/burger.svg");
  }

  &--souvenirs::before {
    background-image: url("../img/icons/present.svg");
  }
}

.profit-extra::before {
  position: absolute;
  content: "";
  background-repeat: no-repeat;
  background-position: center;

  @media (max-width: v.$mobile-width-only) {
    width: 40px;
    height: 40px;
    top: 0;
    left: 20px;
    background-size: 40px 40px;
  }

  @media (min-width: v.$tablet-width) {
    width: 80px;
    height: 80px;
    top: 55px;
    left: 50%;
    transform: translateX(-50%);
  }
}

@media (max-width: v.$mobile-width-only) {
  .profit-extra {
    padding: 8px 20px 22px 65px;
    width: 100%;
    min-height: 113px;
  }

  .profit-extra--souvenirs br {
    display: none;
  }

  .profit-extra .profit-extra__title {
    text-align: left;
  }

  .profit-extra .profit-extra__description {
    text-align: left;
  }
}

@media (min-width: v.$tablet-width) {
  .profit-extra {
    padding: 158px 30px 59px;
    width: 33.33%;
    min-height: 330px;
  }

  .profit-extra--souvenirs br {
    display: none;
  }
}

@media (min-width: v.$desktop-width) {
  .profit-extra__description {
    max-width: 290px;
    margin-right: auto;
    margin-left: auto;
  }

  .profit-extra--souvenirs br {
    display: inline;
  }
}
