@use "../mixins" as *;
@use "../variables" as v;

.video-presentation {
  @media (max-width: v.$mobile-width-only) {
    padding: 17px 20px 0;
  }

  @media (min-width: v.$tablet-width) {
    padding: 58px 60px 40px;
  }

  @media (min-width: v.$desktop-width) {
    padding-top: 62px;
    padding-bottom: 84px;
  }
}

.video-presentation__player {
  position: relative;
  margin-right: auto;
  margin-left: auto;
}

.video-presentation__title {
  @media (max-width: v.$mobile-width-only) {
    margin-bottom: 30px;
  }

  @media (min-width: v.$tablet-width) {
    @include text-xxl-bold;
    margin-bottom: 35px;
  }

  @media (min-width: v.$desktop-width) {
    margin-bottom: 30px;
  }
}

.video-presentation__description {
  @media (max-width: v.$mobile-width-only) {
    max-width: 260px;
    margin: 0 auto 38px;
  }

  @media (min-width: v.$tablet-width) {
    margin-bottom: 86px;
  }
}

.video-presentation__description br {
  @media (max-width: v.$mobile-width-only) {
    display: none;
  }
}
