@use "../variables" as v;

.video-player {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-color: var(--background-inverted);

  @media (max-width: v.$mobile-width-only) {
    width: 280px;
    height: 177px;
    background-image: url("../img/video-poster-phone@1x.jpg");
  }

  @media (min-width: v.$tablet-width) {
    width: 648px;
    height: 500px;
    background-image: url("../img/video-poster-tablet@1x.jpg");
  }

  @media (min-width: v.$desktop-width) {
    width: 800px;
    height: 500px;
    background-image: url("../img/video-poster-desktop@1x.jpg");
  }
}

@media (min-resolution: 2dppx) {
  .video-player {
    @media (max-width: v.$mobile-width-only) {
      background-image: url("../img/video-poster-phone@2x.jpg");
    }

    @media (min-width: v.$tablet-width) {
      background-image: url("../img/video-poster-tablet@2x.jpg");
    }

    @media (min-width: v.$desktop-width) {
      background-image: url("../img/video-poster-desktop@2x.jpg");
    }
  }
}

.video-player__video-frame {
  &--paused {
    opacity: 0;
  }

  @media (max-width: v.$mobile-width-only) {
    width: 280px;
    height: 177px;
  }

  @media (min-width: v.$tablet-width) {
    width: 648px;
    height: 500px;
  }

  @media (min-width: v.$desktop-width) {
    width: 800px;
    height: 500px;
  }
}

.video-player__button-play {
  position: absolute;
  top: 0;
  left: 0;
}
